<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>name</key>
  <string>Capybara</string>
  <key>uuid</key>
  <string>f9d470f5-59bf-4fa0-95e2-2205e5444ab3</string>
</dict>
</plist>
